Common/Service References/RSSService/Account4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3972/Services/Account.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
  <xs:complexType name="WebResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:WebResult.ErrorCodeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebResult" nillable="true" type="tns:WebResult" />
  <xs:simpleType name="WebResult.ErrorCodeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="USER_NOT_FOUND" />
      <xs:enumeration value="USER_ALREADY_EXIST" />
      <xs:enumeration value="INFORMATION_REQUIRED" />
      <xs:enumeration value="NOT_LOGUED" />
      <xs:enumeration value="INTERNAL_ERROR" />
      <xs:enumeration value="NEED_PRIVILEGE" />
      <xs:enumeration value="ALREADY_LOGUED" />
      <xs:enumeration value="CANNOT_CREATE_FEED" />
      <xs:enumeration value="CANNOT_GET_FEED" />
      <xs:enumeration value="ITEM_NOT_FOUND" />
      <xs:enumeration value="PARAMETER_ERROR" />
      <xs:enumeration value="INVALID_PARAMETER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebResult.ErrorCodeList" nillable="true" type="tns:WebResult.ErrorCodeList" />
  <xs:complexType name="WebResultOfstringAccountDatalrs4Oh3P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="AccountData" Namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value1" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Services" minOccurs="0" name="Value2" nillable="true" type="q1:AccountData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResultOfstringAccountDatalrs4Oh3P" nillable="true" type="tns:WebResultOfstringAccountDatalrs4Oh3P" />
  <xs:complexType name="WebResultOfArrayOfAccountDataYxjpQ34D">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAccountData" Namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Services" minOccurs="0" name="Value" nillable="true" type="q2:ArrayOfAccountData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResultOfArrayOfAccountDataYxjpQ34D" nillable="true" type="tns:WebResultOfArrayOfAccountDataYxjpQ34D" />
  <xs:complexType name="WebResultOfbooleanAccountDatalrs4Oh3P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="AccountData" Namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value1" type="xs:boolean" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Services" minOccurs="0" name="Value2" nillable="true" type="q3:AccountData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResultOfbooleanAccountDatalrs4Oh3P" nillable="true" type="tns:WebResultOfbooleanAccountDatalrs4Oh3P" />
</xs:schema>