Client_ASP/Web References/AccServ/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3972/Services/Account.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
  <xs:complexType name="TupleOfSessionUserokBDsykR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Session" Namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" name="m_Item1" nillable="true" type="q1:Session" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" name="m_Item2" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfSessionUserokBDsykR" nillable="true" type="tns:TupleOfSessionUserokBDsykR" />
</xs:schema>