Client_WPF/Service References/RSSService/Account3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3972/Services/Account.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
  <xs:complexType name="WebResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:WebResult.ErrorCodeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebResult" nillable="true" type="tns:WebResult" />
  <xs:simpleType name="WebResult.ErrorCodeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="USER_NOT_FOUND" />
      <xs:enumeration value="USER_ALREADY_EXIST" />
      <xs:enumeration value="INFORMATION_REQUIRED" />
      <xs:enumeration value="NOT_LOGUED" />
      <xs:enumeration value="INTERNAL_ERROR" />
      <xs:enumeration value="NEED_PRIVILEGE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebResult.ErrorCodeList" nillable="true" type="tns:WebResult.ErrorCodeList" />
  <xs:complexType name="WebResultOfUserhd3s_SOtL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" minOccurs="0" name="Value" nillable="true" type="q1:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResultOfUserhd3s_SOtL" nillable="true" type="tns:WebResultOfUserhd3s_SOtL" />
  <xs:complexType name="WebResultOfArrayOfUserhd3s_SOtL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="WebResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Server.Utils" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUser" Namespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" minOccurs="0" name="Value" nillable="true" type="q2:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResultOfArrayOfUserhd3s_SOtL" nillable="true" type="tns:WebResultOfArrayOfUserhd3s_SOtL" />
</xs:schema>