Client_WPF/Service References/RSSService/Account4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.EntityFramwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="expire" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
      <xs:element minOccurs="0" name="session_key" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
</xs:schema>