Client_ASP/Web References/FeedServ/FeedsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeedsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Utils" />
      <xsd:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FeedsService_AddNewFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFeed" />
  </wsdl:message>
  <wsdl:message name="FeedsService_AddNewFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFeedResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsService_GetFeeds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeeds" />
  </wsdl:message>
  <wsdl:message name="FeedsService_GetFeeds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsService_UnfollowFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowFeed" />
  </wsdl:message>
  <wsdl:message name="FeedsService_UnfollowFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnfollowFeedResponse" />
  </wsdl:message>
  <wsdl:message name="FeedsService_GetFeedItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedItems" />
  </wsdl:message>
  <wsdl:message name="FeedsService_GetFeedItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="FeedsService">
    <wsdl:operation name="AddNewFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/FeedsService/AddNewFeed" message="tns:FeedsService_AddNewFeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FeedsService/AddNewFeedResponse" message="tns:FeedsService_AddNewFeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeeds">
      <wsdl:input wsaw:Action="http://tempuri.org/FeedsService/GetFeeds" message="tns:FeedsService_GetFeeds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FeedsService/GetFeedsResponse" message="tns:FeedsService_GetFeeds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnfollowFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/FeedsService/UnfollowFeed" message="tns:FeedsService_UnfollowFeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FeedsService/UnfollowFeedResponse" message="tns:FeedsService_UnfollowFeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedItems">
      <wsdl:input wsaw:Action="http://tempuri.org/FeedsService/GetFeedItems" message="tns:FeedsService_GetFeedItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/FeedsService/GetFeedItemsResponse" message="tns:FeedsService_GetFeedItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_FeedsService" type="tns:FeedsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewFeed">
      <soap:operation soapAction="http://tempuri.org/FeedsService/AddNewFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeeds">
      <soap:operation soapAction="http://tempuri.org/FeedsService/GetFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnfollowFeed">
      <soap:operation soapAction="http://tempuri.org/FeedsService/UnfollowFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedItems">
      <soap:operation soapAction="http://tempuri.org/FeedsService/GetFeedItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedsService">
    <wsdl:port name="BasicHttpBinding_FeedsService" binding="tns:BasicHttpBinding_FeedsService">
      <soap:address location="http://localhost:3972/Services/FeedsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>