Client_WPF/Service References/FeedService/FeedsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RssFeed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdParent" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssFeed" nillable="true" type="tns:RssFeed" />
  <xs:complexType name="ArrayOfRssFeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssFeed" nillable="true" type="tns:RssFeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssFeed" nillable="true" type="tns:ArrayOfRssFeed" />
</xs:schema>