Client_WPF/Service References/FeedService/FeedsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Utils" />
  <xs:import schemaLocation="http://localhost:3972/Services/FeedsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server.Services" />
  <xs:element name="AddNewFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Utils" minOccurs="0" name="AddNewFeedResult" nillable="true" type="q1:WebResultOfRssFeedYxjpQ34D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Utils" minOccurs="0" name="GetFeedsResult" nillable="true" type="q2:WebResultOfArrayOfRssFeedYxjpQ34D" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Services" minOccurs="0" name="feed" nillable="true" type="q3:RssFeed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfollowFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Utils" minOccurs="0" name="UnfollowFeedResult" nillable="true" type="q4:WebResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>